[2020-06-23 18:12] curquiza opened #3 "Improve the README"
Complete:
- the `Installation` part
- the `Getting Started`

[2020-06-23 18:15] curquiza opened #4 "GHA to publish to nuget.org"
Create a GHA triggered on each tag to publish the package to nuget.org.

[2020-06-23 18:20] curquiza opened #5 "Improve "Release" section"
Fill "Release" section in `Development workflow`

[2020-06-23 22:00] Nothing-Works opened #6 "Design decision about passing HttpClient by user."
As a user, I prefer not to pass `HttpClient` by myself.

I saw this comment and understand it, but I still think it's an extra step to get it up and running.

[2020-06-24 06:28] curquiza commented on #6
Hello @Nothing-Works!

Yes, this issue is an extra step but seems to be a good one 😉 If I'm not wrong, an external contributor did the same on the PHP SDK.
Everyone is welcome to do it 🙂

NB: we have to provide an HTTP client by default if the user does not want to use his/her own HTTP Client.

[2020-06-24 08:56] curquiza opened #9 "Linter"
We should add a linter to this project, at least for the code style.

For example, I can see here the same kind of method but with not the same style (especially in the name of the function):

https://github.com/meilisearch/meilisearch-dotnet/blob/086c738d2254435687e7f45db2996fd7826d11d4/tests/Meilisearch.Tests/DocumentTests.cs#L23-L43

The goal is to provide a better environment for contribution

[2020-06-24 12:08] #5 closed, assigned to curquiza

[2020-06-24 12:54] curquiza commented on #4
Closes with #7

[2020-06-24 12:54] #4 closed, assigned to curquiza

[2020-06-24 13:34] satish860 commented on #6
Well, the idea here is to use it as a Typed HttpClient as part of service collection, Well we can use a default value if possible.

https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests

[2020-06-24 16:18] curquiza opened #12 "Make the usage easier"
Make the package easy to use. The getting started should be:

[code]

🙂

[2020-07-01 17:20] curquiza opened #17 "Missing routes need to be implemented"
Some routes present in MeiliSearch are not implemented in this package yet:
- [X] The global settings routes: https://docs.meilisearch.com/references/settings.html
- [ ] The settings sub-routes: https://docs.meilisearch.com/references/settings.html
- [x] All the health routes: https://docs.meilisearch.com/references/health.html
- [x] The global stats route: https://docs.meilisearch.com/references/

[2020-07-02 04:21] Nothing-Works commented on #17
@curquiza I can try this one if no one has started yet.

[2020-07-02 08:39] curquiza commented on #17
Hello @Nothing-Works!
Sure you can!! 😁 Thanks!

[2020-07-02 13:51] #12 closed, assigned to satish860

[2020-07-03 04:57] satish860 commented on #17
@Nothing-Works Assigned the task to your name so no one else starts on this. Hope that is fine.

[2020-07-03 04:58] satish860 commented on #6
@Nothing-Works We have a new overload without the dependency on Httpclient. Hope that closes the issue . @curquiza I have not published or bumped the version. Can we pick it up

[2020-07-03 04:58] satish860 commented on #3
@curquiza Hope this is complete.

[2020-07-03 07:25] curquiza commented on #3
I still want to improve a little bit some parts once #16 is merged 😉 I assign it to mysel then!

[2020-07-05 15:30] curquiza opened #19 "Create and fill sample file to display .NET examples in MeiliSearch Documentation"
# Code Samples for MeiliSearch documentation

## Introduction
As MeiliSearch grows so does its SDK's.  More and more SDK's rises from the ground and they all deserve to be as well documented as the core engine itself.

The most common way for a user to understand MeiliSearch is to go to its official documentation. As of yesterday all examples in the documentation were made with `cURL`. Unfortunate

[2020-07-06 09:10] satish860 opened #21 "Reduce the memory pressure of JSON using Streaming extensions."
As the library manipulates JSON data, Its the best practices to use it as a stream rather than holding the entire memory for the same. More details can be found here.
https://www.stevejgordon.co.uk/sending-and-receiving-json-using-httpclient-with-system-net-http-json

[2020-07-06 10:31] satish860 commented on #9
@curquiza Generally we use Stylecop analyzer in the .net project with the connection of editor config.  https://github.com/DotNetAnalyzers/StyleCopAnalyzers
This will allow the coding style to be uniform. Let me know if this can solve the requirement, I can get it added .

[2020-07-06 10:44] curquiza commented on #9
Ok good to know! :)
The goal is to be able to add this linter check in the CI so that a PR with linter errors cannot pass 🙂

[2020-07-06 11:23] curquiza commented on #21
Thanks Satish for this issue! :)
Will this improvement change the way of using meilisearch-dotnet? I mean is the getting started going to change after this improvement? 🙂

[2020-07-06 13:36] satish860 commented on #21
No @curquiza Its only internal change.

[2020-07-06 13:41] satish860 commented on #9
Yes this will be added as part of the build so even CI fails if code doesn't follow the same.

[2020-07-06 14:18] curquiza opened #24 "GetIndex should return the same object as CreateIndex"
According to the Getting Started, I can write:
[code]

but I cannot write:

[code]

Because `'Task<Index>'` does not contain a definition for `AddDocuments`.

If the index is already created, I should have the possibility to use `GetIndex` instead of `CreateIndex` to manipulate my already existing index in the same way 🙂
Both methods should return the same object.

TODO:
- [ ] Add this feature in

[2020-07-06 14:24] curquiza opened #25 "Documents methods should accept an int or a string"
With:

[code]

[code]

I got the error "impossible to convert int into a string".
The `GetDocument` method should be able to accept an int or a string since MeiliSearch can accept a string or an int as a document identifier.

TODO:
- [ ] Fix in the code
- [ ] Add tests

[2020-07-06 16:46] satish860 commented on #24
Are you missing await keyword.

[2020-07-06 18:24] curquiza commented on #24
My baaaad! Thanks @satish860 and sorry! 😁

[2020-07-06 18:24] #24 closed, assigned to nobody

[2020-07-06 18:59] #21 closed, assigned to satish860

[2020-07-06 21:29] Nothing-Works commented on #17
@satish860 this is all good, thanks, I will start soon.

[2020-07-07 08:02] curquiza commented on #6
I'm not sure to get it well, so I ask confirmation: is the new usage (see the getting started in the README) okay with you @Nothing-Works? 🙂 Can we close this issue then?

[2020-07-07 09:11] Nothing-Works commented on #6
@satish860 @curquiza yes this is very easy to get started and consistent with other adapters well done thanks.

[2020-07-07 09:11] #6 closed, assigned to nobody

[2020-07-07 15:26] curquiza commented on #19
This issue is not really relevant since all the routes are not implemented, see #17

[2020-07-07 16:37] barbados-clemens commented on #25
I can take a look at this once I familiarize myself with the code.

I assume we'd just want another method that takes an int along side the [current method](https://github.com/meilisearch/meilisearch-dotnet/blob/master/src/Meilisearch/Index.cs#L105)

like so
[code]

[2020-07-07 16:40] curquiza commented on #25
If I'm not wrong, this should do the job 🙂

[2020-07-07 16:42] curquiza commented on #9
The linter should also solve this kind of issue in [this file](https://github.com/meilisearch/meilisearch-dotnet/blob/master/src/Meilisearch/SearchQuery.cs):

[code]

Some attributes are in upper CamelCase, but others are not.

[2020-07-07 16:50] curquiza opened #30 "A basic error handler"
We should add a basic error handler, with these 2 custom errors:
- `MeiliSearchApiError`
- `MeiliSearchCommunicationError`

If I'm not wrong, @barbados-clemens you created one in your previous meilisearch-dotnet repo (not available anymore) 🙂
Was this complicated to add?

FYI: Even if it's not documented yet, MeiliSearch API has a great error handler, and returns this kind of JSON when an error is

[2020-07-07 17:17] barbados-clemens commented on #25
Would you want me to change all document methods that take a string or IEnumberable<string> and add an int version as well?

those would all include
- GetDocument
    - issue explicitly stating this one
- DeleteOneDocument
- DeleteDocuments

if yes, would you want me to change them all in this PR or submit a new PR for the Delete Methods?

I'm also now in the slack community as Barbados Clemens if

[2020-07-07 17:53] barbados-clemens commented on #30
I was just following the logic of how the js library was structured.

[Here is the JS HTTP error handler for reference](https://github.com/meilisearch/meilisearch-js/blob/master/src/errors/http-error-handler.ts#L5)

I didn't implement those error handlers correctly just more stubbed out, as I wasn't sure how to go about deciding what falls into those types of errors.

But we can make two classes t

[2020-07-07 19:43] curquiza commented on #25
So cool you are on the slack now 🙂

You can change all the methods in the same PR, thank you so much 😁 I m going to rename the issue accordingly

[2020-07-08 08:15] curquiza commented on #30
That's a good solution! The JS library should follow these guidelines 🙂
The python and ruby one implement it too!

Hum there is a miss-understanding... The `CommunicationError` is there to be thrown if we cannot reach the server, I mean no response at all (even a 5XX or 4XX).

ex:
[code]

In the situation where the meilisearch-dotnet library can reach the server, it would throw a `MeiliSearchApiEr

[2020-07-08 13:25] barbados-clemens commented on #30
That makes sense and the errors match what the happening. My brain just jumped to status codes instead of slowing down the thinking about what they actually mean.

So for a `CommunicationError` that would happen if we can't connect to the search instance.
An `ApiError` is when meilisearch is able to send us the error, i.e. can connect but user send a bad request or something went wrong with proces

[2020-07-08 13:33] curquiza commented on #30
Exactly! 🙂

You mean `MeiliSearchCommunicationException`, right?

Otherwise, if you agree with that, all seem ok from my POV to start a basic error handler 🙂

[2020-07-08 14:12] barbados-clemens commented on #30
Oops!

Yes I meant `MeiliSearchCommunicationError`. Fixed that in my previous comment.

What would this look like?

my first thought was going and wrapping everything into a try/catch but that's a great way to duplicate code.

So maybe an extension method or wrapper method to execute the call and handle the exception logic?

we could centralize all the HTTP calls instead of executing them directly

[2020-07-09 08:17] curquiza commented on #30
Of course, we have to avoid the try/catch in every method (`getDocuments`, `createIndex`...etc), so we indeed need a wrapper.

Don't know if it can help for the implementation, but in our meilisearch-python we have an `HTTPRequest` class which is a wrapper for all the HTTP methods.

See: https://github.com/meilisearch/meilisearch-python/blob/master/meilisearch/_httprequests.py

Plus, we succeeded

[2020-07-14 00:26] eskombro opened #33 "Remove sys-info routes"
As stated in https://github.com/meilisearch/MeiliSearch/pull/810 and https://github.com/meilisearch/integration-guides/issues/36 the sys-info routes will be considered as deprecated in MeiliSearch v0.13.0. These routes should be removed from this SDK accordingly.

[2020-07-14 00:26] eskombro opened #34 "Implement POST route in search method"
According to https://github.com/meilisearch/integration-guides/issues/37, and after [this decision](https://github.com/meilisearch/integration-guides/issues/37#issuecomment-652935842), search method should always use the `POST` search route. The `GET` search route will be considered deprecated in this SDK.

[2020-07-17 09:21] 979170768 opened #35 "Error in driving operation meilishearch"
MeilisearchClient client = new MeilisearchClient("http://xxxxxx:7700", "masterKey");

   var index = await client.GetAllIndexes();
   var ceshi =  await client.CreateIndex("movies1", "Id")

Error when getting all indexes:
System.MissingMethodException:“Method not found: 'System.IO.Stream System.Text.Encoding.CreateTranscodingStream(System.IO.Stream, System.Text.Encoding, System.Text.Encoding, Bool

[2020-07-20 09:35] curquiza commented on #33
Pretty sure the sys-info routes do not exist 😉 Feel free to re-open if I'm wrong, maybe I missed something!

[2020-07-20 09:35] #33 closed, assigned to nobody

[2020-07-20 13:51] #25 closed, assigned to nobody

[2020-07-21 08:31] curquiza commented on #35
Hello @979170768!

I did not succeed to reproduce your issue with:

[code]

What is
- the version of the MeiliSearch package you use? The last one is currently `0.2.1`.
- the version of your MeiliSearch instance? The last one is currently the `0.12.0`.

[2020-08-03 09:02] curquiza opened #42 "Update custom client example in README"
According to [this discussion](https://github.com/meilisearch/meilisearch-dotnet/pull/27#discussion_r451568675)

[2020-08-03 09:23] curquiza commented on #17
Hello @Nothing-Works!
How are you doing on your issue? 🙂 Do you need help?
Another contributor or maintainer can implement a part of this issue if you don't find any time to do it 😉

[2020-08-03 09:27] curquiza commented on #3
The README is ready now 😁

[2020-08-03 09:27] #3 closed, assigned to curquiza

[2020-08-03 10:35] Nothing-Works commented on #17
@curquiza Hi I am very very sorry, about this issue. I've been so busy and just a lot of things happening in my area. Please feel free to give this task to another maintainer. Again apologize for my problems, I should have let you know earlier. I am so sorry, hope you can understand. Thank you very much.

[2020-08-03 11:17] curquiza commented on #17
Not a problem! Thanks for your quick answer! 🙂

If any contributor is available for this issue (or a part of it) it would be really helpful 😁

[2020-08-05 08:48] curquiza opened #46 "Remove indexes after running tests"
We should erase the indexes present in the MeiliSearch instance before starting the tests: this is dangerous because we run the test in a context we don't know.
This issue is not a problem on the CI, but is not really convenient when running tests locally.

[2020-08-10 09:11] curquiza opened #50 "Tests suite randomly fails"
See this job
https://github.com/meilisearch/meilisearch-dotnet/runs/961819954?check_suite_focus=true

[2020-08-13 09:27] satish860 commented on #50
This is because of use of a streaming library in the HTTP Client. We should go back to use the default one.  Also I was a able to replicate the failure using Rider run test

[2020-08-13 10:41] curquiza commented on #50
Do you think this is easy to fix @satish860? 🙂
Or can't we just adapt the tests to work with a streaming library?

[2020-08-20 14:34] curquiza commented on #34
Closed with #47

[2020-08-20 14:34] #34 closed, assigned to curquiza

[2020-09-04 02:19] themisir opened #54 "SearchQuery.FacetFilters property is not available"
As described in [this section](https://docs.meilisearch.com/guides/advanced_guides/faceted_search.html#using-facets) I have to specify `facetFilters` parameter to narrow search result. But I think this feature is not available.

[2020-09-07 08:50] curquiza commented on #54
Hello @TheMisir!

The facets are indeed not handled yet in this package! Thanks a lot for starting it 😁

In this issue (https://github.com/meilisearch/meilisearch-dotnet/issues/17) you can see the settings are missing, it means the `attributesForFacetting` are missing.

The `facetsDistribution` parameter during the search is also missing. I'm going to open an issue.

[2020-09-07 08:51] curquiza opened #56 "SearchQuery.FacetsDistribution property is not available"
Following https://github.com/meilisearch/meilisearch-dotnet/issues/54

[2020-09-08 16:01] #54 closed, assigned to nobody

[2020-09-09 09:02] #9 closed, assigned to satish860

[2020-09-13 12:50] appa1303 opened #60 "Code for Searchable attributes"
Hi,

Can you add code to get/set Searchable attributes
I suggest the following to go into Index.cs

`
        /// <summary>
        /// Update searchable attributes.
        /// </summary>
        /// <param name="attributes">strings that contains searchable attributes sorted by order of importance (arranged from the most important attribute to the least important attribute).</param>
        /// <

[2020-09-13 20:19] curquiza commented on #60
Hello @appa1303! Thanks for your suggestion!
I'm currently working on a PR to get/update/reset all the settings, so the possibility to get the searchable attributes 🙂
Once it's merged I will let you know here!

[2020-09-19 19:35] themisir commented on #17
I started working on this. And finished. But I need a bit help about MeiliSearch related issues. (Some routes doesn't works as expected - or as described in docs)

[2020-09-19 21:24] curquiza commented on #17
Hello @TheMisir!
I'm working on the [3 global settings routes](https://docs.meilisearch.com/references/settings.html#all-settings) (get/update/reset) in this PR https://github.com/meilisearch/meilisearch-dotnet/pull/57. GitHub did not do the link to this issue despite my mention in the PR description, sorry.
But the rest still needs to be implemented, so thanks a lot!! 😁

[2020-09-19 21:29] themisir commented on #17
So, what should I do now 😅?

PS: I completed implementing routes (routes / inline docs / tests). I just have a small issue (please check comments on my PR) which requires a bit help. But as you've already implemented settings routes (which my issue is related to) I think we could somehow merge our codes together.

[2020-09-19 21:35] curquiza commented on #17
I inform you only to avoid duplication on the 3 global settings routes, but your work on stats routes and health routes is perfect! 👍
We are going to merge #58, #58 and then #57 before your PR, it will be easier. But of course, you can still keep working on it even if we merge it after them 🙂

I will check your PR on Monday and try to help you 😁 Thanks again for your contribution to this!!

[2020-09-19 21:43] curquiza commented on #17
@TheMisir I don't know if you are already on our slack, but [you can join us](https://meilicommunity.slack.com/join/shared_invite/zt-c4rs8tpi-ZId_q3fw~7cqeuzFG4XHaA#/). If you agree, it would be easy to discuss about contributions 🙂 I'm Clementine on our Slack!

[2020-09-28 15:27] curquiza commented on #35
I close this issue since we don't have enough information. Feel free to re-open it! 🙂

[2020-09-28 15:27] #35 closed, assigned to nobody

[2020-09-29 15:59] curquiza commented on #17
I've just merged #57 that includes the [global settings methods](https://docs.meilisearch.com/references/settings.html#all-settings)
- `GetAllSettings`
- `UpdateAllSettings`
- `ResetAllSettings`

Still missing the sub-routes for settings

[2020-09-30 08:45] curquiza commented on #50
This issue seems to be fixed now after we updated the tests.
I will re-open this issue if needed, or if someone asks for it

[2020-09-30 08:45] #50 closed, assigned to nobody

[2020-09-30 09:03] curquiza commented on #60
Hello @appa1303, the [v0.3.1](https://github.com/meilisearch/meilisearch-dotnet/releases/tag/v0.3.1) is out and allows you to update your settings (so your searchable attributes).

[code]

I close this issue 🙂 Feel free to re-open it if something is not clear

[2020-09-30 09:03] #60 closed, assigned to nobody

[2020-10-01 08:32] #56 closed, assigned to curquiza

[2020-10-06 11:38] curquiza commented on #17
Thanks to @TheMisir and #66, the three last points are completed!! 🎉

[2020-10-13 12:14] curquiza opened #67 "The UpdateDocuments method should be a partial update"
Currently when doing this test:

[code]

The `Assert.Equal("Action", docs.First().Genre);` line fails because `Genre` is `null` but it should not be. The [add-or-update-documents route](https://docs.meilisearch.com/references/documents.html#add-or-update-documents) should be a **partial update**, so the value a `Genre` should still be `"Action"`.

[2020-10-13 17:35] huseyinsimsekk commented on #67
Can we solve this using PATCH method?

[2020-10-14 07:07] curquiza commented on #67
Hello @huseyinsimsekk
MeiliSearch does not provide any `PATCH` method.
The SDK uses the `PUT` route `add-or-update-documents`, but the bad behavior is the fault of the SDK because even if you send only (following the example above):

[code]
it will send actually

[code]

because `Movie` is defined like this:

[code]

**=> the SDK should only send the fields that the user sends to make MeiliSearch

[2020-10-14 13:25] eskombro opened #69 "Implement dumps"
Since [v0.15.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.15.0), MeiliSearch exposes a new functionality: [dumps](https://docs.meilisearch.com/references/dump.html#dumps)

This feature should be implemented in this SDK following [this specificacions](https://github.com/meilisearch/integration-guides/issues/44)

- [ ] Implement dump creation route
- [ ] Implement get dump status ro

[2020-10-15 13:20] #46 closed, assigned to nobody

[2020-10-15 14:40] curquiza opened #71 "Improve search tests"
This issue is to improve the tests relative to the `Search` method. It means improving [this file](https://github.com/meilisearch/meilisearch-dotnet/blob/master/tests/Meilisearch.Tests/SearchTests.cs) by adding tests:
- do tests about all the [search parameters](https://docs.meilisearch.com/guides/advanced_guides/search_parameters.html). For example, there are no tests about the crop.
<s>- add bet

[2020-10-23 09:45] AlexNDRmac commented on #69
@eskombro I can help you with it.

[2020-10-23 09:58] curquiza commented on #69
Hello @AlexNDRmac!
This issue is still available! Feel free to start it and to ask any questions if needed 🙂

[2020-10-26 11:18] eskombro commented on #69
Amazing @AlexNDRmac , thanks a lot!

[2020-11-03 13:46] #69 closed, assigned to nobody

[2020-11-04 08:39] AlexNDRmac commented on #69
@curquiza could you please add `hacktoberfest-accepted` label to my PR #76 because in my profile this PR looks like not valid.

[2020-11-04 08:56] curquiza commented on #69
Hello @AlexNDRmac!
I don't need to add this label because the "hacktoberfest" topic is present in this repo.

<img width="1649" alt="Capture d’écran 2020-11-04 à 09 47 55" src="https://user-images.githubusercontent.com/20380692/98089501-19f57d80-1e83-11eb-9cf7-215555ec53ba.png">

See the [Hacktoberfest rules](https://hacktoberfest.digitalocean.com/#rules).

And even in the FAQ:

<img width="1550

[2020-11-04 08:59] AlexNDRmac commented on #69
Ok, thanks :)

[2020-11-28 14:46] themisir opened #82 "GetOrCreateIndex implementation"
In the below implementation we're trying to create index with given name, if we get an exception that matches specific exception message we try getting index. Instead of that wouldn't it be good to first try getting index if the result is null then trying to create a new index? In that case we'll also decrease call/request counts in case of index is already exists.

https://github.com/meilisearch/

[2020-12-02 15:05] curquiza commented on #82
The current implementation of `GetOrCreateIndex` is indeed not optimal for the moment. But we plan to change it soon, with some other functions. Indeed, now MeiliSearch is able to create an index when you add documents if the index does not exist yet, which is really convenient.

We opened an issue about the involved changes: meilisearch/integration-guides#48. There are sections about `getOrCreate

[2020-12-07 21:12] XREvo opened #85 "Set SearchQuery.Filters type to be a string"
The MeiliSearch documentation specify that the SearchQuery.Filters property is of type string and not array of string : https://docs.meilisearch.com/guides/advanced_guides/search_parameters.html#filters

The associated type of this property should be changed and test updated to cover this. Without this change, it's impossible to use this field (at least with the version 0.17.0 that i have on my la

[2020-12-08 09:01] curquiza commented on #85
Hello @XREvo, thanks for your time for writing down this issue and for the PR! I'm going to review it right now!

[2020-12-08 09:04] #85 closed, assigned to nobody

[2021-01-06 16:55] fharper opened #89 "Change master branch to main"
Let's be allies and make this change that means a lot.

Here is a [blog post](https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main) that explain a little more why it's important, and how to easily do it. It will be a bit more complicated with automation, but we still should do it!

[2021-01-06 19:55] fharper opened #91 "Add 2021 to license year"
I'll create a GitHub action for next years.

[2021-01-18 20:30] #91 closed, assigned to nobody

[2021-02-11 14:42] #89 closed, assigned to nobody

[2021-04-14 09:02] bzatrok opened #109 "SearchResult<T> is missing NbHits & ExhaustiveNbHits fields."
SearchResult<T> is missing NbHits & ExhaustiveNbHits fields. These are returned by the api but not mapped to the response object.

[2021-04-14 12:42] bzatrok commented on #109
@curquiza Let me know if this can be closed after the nuget build is done!

[2021-04-14 13:35] curquiza commented on #109
I published the release! 😄
I close this!

[2021-04-14 13:35] #109 closed, assigned to nobody

[2021-04-14 13:35] curquiza commented on #109
Thanks for your help @bzatrok

[2021-05-10 12:46] #30 closed, assigned to satish860

[2021-05-13 10:53] curquiza opened #119 "rename ChangePrimaryKey by UpdateIndex"

[2021-05-25 16:01] curquiza opened #121 "Add client.DeleteIndex method"
Currently, the only way to delete an index is from an `Index` instance like:

[code]

We should be able to delete an `Index` from the client instance:

[code]

[2021-05-25 16:04] curquiza commented on #82
I close this issue, it has been implemented by @alallema in #118 😇

[2021-05-25 16:04] #82 closed, assigned to nobody

[2021-05-25 16:06] curquiza commented on #42
Closed since we don't have news of @satish860. If you are around satish feel free to re-open of course 🙂

[2021-05-25 16:06] #42 closed, assigned to nobody

[2021-05-25 16:09] curquiza opened #122 "Implement GetKeys method"
Create `GetKeys` according to this route: https://docs.meilisearch.com/reference/api/keys.html#get-keys

[2021-05-25 16:20] curquiza commented on #17
Replaced by #122 and #124

[2021-05-25 16:20] #17 closed, assigned to themisir

[2021-05-25 16:35] #119 closed, assigned to alallema

[2021-05-27 15:12] Vijay4657 opened #127 "Creating/Deleting indexes in meilisearch server results in IP down"
We are trying to create new index or delete existing from the client using the below code.

Create index using below methods
[code]

While calling the above methods to create the index, the hosted URL(SearchURL) goes down result in the timeout. We then have to start/stop the meilisearch server to enable the hosted URL to access the search. We are using the nuget Meilisearch Dotnet version - 0.4.2.

[2021-05-27 15:26] curquiza commented on #127
Hello! Did you push documents to MeiliSearch before executing these 3 lines of code?

[2021-05-27 16:18] Vijay4657 commented on #127
Hi @curquiza

Yes, i have pushed documents to the indexes which was created before.. While trying to create new index only this problem arises.

[2021-05-27 16:19] curquiza commented on #127
It's not due to this SDK, this is related to MeilISearch.
How many documents have you pushed?

[2021-05-27 16:27] Vijay4657 commented on #127
We have pushed in the set of 100 documents each update. But that was in the existing index.

[2021-05-27 16:28] curquiza commented on #127
Not sure to understand, you pushed only 100 documents before? There is no other documents in the existing index?

[2021-05-27 16:30] curquiza commented on #127
I ask this because the issue you have seems to have happens when adding too many documents to MeiliSearch at the same time: MeiliSearch crashes and you cannot access it without re-launching it.
But 100 documents in MeiliSearch is really few.

[2021-06-07 14:13] gethari commented on #122
@curquiza I thought of picking this up and I have some suggestions to improve the SDK. Currently, the file alignment is spread in the root, all the `Models` , `Extensions` and `Client` everything is kept outside. Would it be ok, if we create a structured approach either follow `stack` driven design or `domain` driven?

Eg : We can have all response folders under `Models`. In the future, as the Mei

[2021-06-07 14:35] curquiza commented on #122
Thanks for your suggestion @gethari!

FYI, MeiliSearch will not add so many routes 🙂 I agree with improving the current structure of this SDK but it should not be too complex regarding the goal of the SDK.
I really would like to concretely see what you mean with a PR, if you have time of course, because I cannot guarantee we will merge it. But if it helps us for the maintenance it would be awesome

[2021-06-07 14:41] #121 closed, assigned to nobody

[2021-06-11 10:36] #67 closed, assigned to nobody

[2021-06-15 11:50] Vijay4657 opened #132 "Index stat total documents count mismatch?"
We have created an index in our meilisearch server and pushed bulk data from our database into the index. We are using the meilisearch version - 0.20.0 The current number of documents we have retried from the below code is 76,252.

`var stats = await client.Index(index).GetStats();`
`Console.WriteLine(stats.NumberOfDocuments);`

After that we pushed two batches of data each containing 96 & 4 docum

[2021-06-16 05:56] Vijay4657 opened #133 "Search option pagination problem based on number of matches"
We are using the search option with the Offset & Limit properties for the use of pagination using the below code snippet.

var searchQuery = new SearchQuery
                {
                    AttributesToHighlight = new string[] { "title", "description", "updates" },
                    AttributesToCrop = new string[] { "description", "updates" },
                    CropLength = 90,

[2021-06-16 20:15] curquiza commented on #132
Hello @Vijay4657
Some users reported the stats route of the v0.20.0 was slow -> https://github.com/meilisearch/MeiliSearch/issues/1257
We did not succeed to reproduce, but we might have fixed it in the coming v0.21.0 with a new implementation of the stats route.
Also, if after a long time your route is still not up to date with the expected number of documents, it means you added (among the 100 do

[2021-06-16 20:21] curquiza commented on #133
Hello,

`nbHits` is not relevant to be used as `TotalCount`.
Please check the following issues in MeiliSearch:
- https://github.com/meilisearch/MeiliSearch/issues/911
- https://github.com/meilisearch/MeiliSearch/issues/1120

And here is a guide to help you implement the pagination you wish: https://github.com/meilisearch/documentation/issues/561

Also, FYI, we are currently thinking of improving t

[2021-06-16 20:21] #133 closed, assigned to nobody

[2021-09-02 09:22] goodluckily commented on #19
加油, 希望对 C# 的支持越来越好 (Come on, I hope the support for c# is getting better and better)

[2021-09-02 10:11] curquiza commented on #19
Indeed, #17 has been integrated and this issue is now totally relevant to do! :D
Feel free to open a PR is you want!

[2021-09-06 15:48] curquiza commented on #132
Closing this issue due to a lack of answer, feel free to re-open

[2021-09-06 15:48] #132 closed, assigned to nobody

[2021-09-08 14:05] curquiza commented on #19
My bad, some routes are still missing (see https://github.com/meilisearch/meilisearch-dotnet/issues/124) but this does not prevent from implementing the code samples :)

[2021-09-23 15:39] curquiza commented on #127
Closing due to lack of answer. Feel free to re-open if needed :)

[2021-09-23 15:39] #127 closed, assigned to nobody

[2021-09-23 15:39] curquiza commented on #19
#150 starts the work for the getting started section 🚀

[2021-10-06 13:17] curquiza opened #154 "Change `books` to `movies` in README.md"
To keep the getting started simple to try, but to also make [documentation](https://docs.meilisearch.com) examples compatible with the getting started, we are replacing `book` examples with `movies` examples.

The Movie dataset is used throughout the documentation. The only place where book is used is in the tests (which can stay as it is) and in our getting started.

### Changes

- [ ] Index name

[2021-10-06 13:38] curquiza opened #155 "Method to get all the indexes should return a list of instance"
Currently, the `get_all_indexes` method returns a raw list of object, but not a list of `Index` instance. This is the only index-related method that does not return an `Index` instance.

An instance is more convenient to manipulate than a raw object. See this [example](https://github.com/meilisearch/meilisearch-python/issues/258#issuecomment-835866135).

TODO

- [x] Change the return of the curren

[2021-10-06 13:54] curquiza opened #156 "Add a method to delete the index only if it already exists"
Trying to delete an index that does not exist on the MeiliSearch server will throw an error. To delete it without any error no matter what if it exists or not, we need a new method.

- [ ] Add a method `delete_index_if_exists`: it deletes the index but does not throw any error if the index does not exist.
- [ ] Add tests

Example: https://github.com/meilisearch/meilisearch-python/pull/268/files

⚠

[2021-10-06 14:05] curquiza opened #157 "Add methods to automatically add/update documents in batches"
We need methods to add and update the documents of MeiliSearch in batch instead of letting the users call `addDocuments` in a loop.

- [ ] Add `addDocumentsInBatches`
[code]
`batchSize` and `primaryKey` are optional parameters

- [ ] Add `updateDocumentsInBatches`
[code]
`batchSize` and `primaryKey` are optional parameters

- [ ] Add tests

Example: https://github.com/meilisearch/meilisearch-pytho

[2021-10-06 14:08] jdkramhoft commented on #156
I'd like to take a look at this

[2021-10-06 14:21] curquiza opened #158 "Test `filter` in search method with a value containing spaces"
Add a test to check the `filter` parameter can work with values containing spaces

Example:
[code]

Related to https://github.com/meilisearch/integration-guides/issues/30

[2021-10-06 17:41] curquiza commented on #156
Go for it :)

[2021-10-06 18:21] hvgithub commented on #154
@curquiza Please assign this to me, thanks!

[2021-10-06 18:29] curquiza commented on #154
Done! 🙂

[2021-10-06 18:54] hvgithub commented on #154
@curquiza : please review and merge if it looks good, thank you!

[2021-10-06 20:28] nico91470 commented on #155
Hi,

I want to try to resolve this issue, can you affect me on it?

[2021-10-06 20:45] kashifsoofi commented on #158
Can I please work on this?

[2021-10-06 21:46] curquiza commented on #155
Please go @nico91470 :)

[2021-10-06 21:49] curquiza commented on #158
Yes you can 🙂 @kashifsoofi

[2021-10-06 21:53] curquiza commented on #154
I will as soon as I can

[2021-10-07 11:18] alejandrocq commented on #157
Hi! Can I work on this? Thanks!

[2021-10-07 14:28] curquiza commented on #157
Yes you can!

[2021-10-07 15:01] #154 closed, assigned to hvgithub

[2021-10-10 18:11] curquiza opened #162 "Add `updatedAt` and `createdAt` to `Index`"
When manipulating indexes (get/create/update), the MeiliSearch server returns the following information related to the index:
- `uid`: the uid of the index
- `primaryKey`: the primary key of the index
- `updateAt`: when the index has been updated
- `createdAt`: when the index has been created

This SDK, when manipulating indexes (get/create/update) returns an instance of `Index` which already cont

[2021-10-10 18:41] curquiza opened #163 "Add method to get the raw index information"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2021-10-12 21:26] sander1095 commented on #162
I could look into this! Could you assign me?

Furthermore, could you tell me the status of this issue?

[2021-10-13 09:53] jdkramhoft commented on #156
I gave it an attempt, how do I request a review?

[2021-10-13 10:02] curquiza commented on #156
hello @jdkramhoft
I saw your PR, I just have  a lot on my plate now, but be sure I will review it :)

[2021-10-13 11:52] #158 closed, assigned to nobody

[2021-10-13 11:59] alejandrocq commented on #163
I can work on this one too :)

[2021-10-13 12:06] curquiza commented on #163
Hello @alejandrocq, thank you 🚀

FYI, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelines](https://github.com/meilisearch/meilisear

[2021-10-13 12:07] curquiza commented on #162
Hello @sander1095, yes you can work on it!
Looks like there are the three points to implement if I'm correct

FYI, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue fol

[2021-10-13 13:25] #156 closed, assigned to nobody

[2021-10-14 15:44] curquiza commented on #155
@nico91470 I will remove the assignation since we don't get any PR from you, we can understand you don;t have the time 🙂

Now, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the real volunteers contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements t

[2021-10-14 16:03] alejandrocq commented on #163
Don't worry @curquiza , I understand your point :). I have made a new PR for this.

[2021-10-14 16:12] #157 closed, assigned to nobody

[2021-10-14 16:13] curquiza opened #174 "Find a way to fix the flacky test"
Randomly, the CI makes the tests fails
see: https://github.com/meilisearch/meilisearch-dotnet/runs/3896895492

[code]

The dump creation is not finished and that's why the dump fails.
We should find a way to avoid this random failure.

[2021-10-14 19:17] sander1095 commented on #174
Done! 🥳  #175

[2021-10-14 19:50] sander1095 opened #176 "Remove Microsoft.AspNetCore.WebUtilities to increase the surface area of the project"
Hello!

I was having a peek at the dependencies of this project, and I encountered the `Microsoft.AspNetCore.WebUtilities` dependency. This dependency has itself 2 dependencies on other projects..

What is the reason for this package? As far as I can see, it is only used to generate some query strings:
https://github.com/meilisearch/meilisearch-dotnet/blob/8d5b14cc2a12a407b88ee4f9b41c0b80bf6c6548/

[2021-10-14 20:05] sander1095 commented on #176
I think I created this issue a bit too quick!

Some more research needs to be done and I think some more discussions need to take place before this is picked up.

The source code of the `QueryHelpers` class is as follows:

https://github.com/dotnet/aspnetcore/blob/main/src/Http/WebUtilities/src/QueryHelpers.cs
You can see it's a bit "enterprisey", but it does also do things like encoding URLS and

[2021-10-15 14:57] Vivek-abstract commented on #155
Hi @curquiza, I think this is already implemented as seen here:
https://github.com/meilisearch/meilisearch-dotnet/blob/main/src/Meilisearch/MeilisearchClient.cs#L82

[2021-10-15 14:58] Vivek-abstract commented on #155
Please correct me if I'm looking at the wrong thing here

[2021-10-15 15:41] Vivek-abstract commented on #174
@curquiza I read through the docs and it seems like the POST call to /dumps only initiates the dump creation process. It can complete in any x amount of time so testing that it has a status of "done" would fail. Instead we can test for the three available statuses "inprogress", "failed" and "done". What do you think?

I tried recreating this scenario locally by repeating the test a 100 times local

[2021-10-16 14:15] curquiza commented on #155
Oh yes you're right the first point is already implemented! :D

[2021-10-16 14:19] #174 closed, assigned to nobody

[2021-10-17 08:52] Vivek-abstract commented on #155
@curquiza  I've created https://github.com/meilisearch/meilisearch-dotnet/pull/178 to add this method 😄

[2021-10-18 18:22] curquiza opened #179 "`UpdateIndex()` method"
TODO:
- [ ] Currently we have the `UpdateIndex()` method in the [`Index` class](https://github.com/meilisearch/meilisearch-dotnet/blob/main/src/Meilisearch/Index.cs). This method should be renamed as `Update()`.
- [ ] Add a method named `UpdateIndex()` in the [`Client` class](https://github.com/meilisearch/meilisearch-dotnet/blob/main/src/Meilisearch/MeilisearchClient.cs), calling the `Update()` n

[2021-10-18 18:32] GrillSkippy commented on #179
Hi, could you assign this issue to me?

[2021-10-18 18:34] curquiza commented on #179
Hello @JaspervdGraaf thanks for your interest in this project :)

We prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the volunteer contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelines](https://github.com

[2021-10-18 18:43] curquiza commented on #176
Hello @sander1095!
Thanks for bringing this kind of discussion, we particularly appreciate it :)
I'm not an expert in .NET projects, so I will let this issue open: I would enjoy reading the .NET community opinion about this!

[2021-10-18 19:53] sander1095 opened #181 "Use ConfigureAwait(false) to improve performance of the library"
Please read:

https://github.com/Microsoft/vs-threading/blob/main/doc/cookbook_vs.md#should-i-await-a-task-with-configureawaitfalse
https://medium.com/bynder-tech/c-why-you-should-use-configureawait-false-in-your-library-code-d7837dce3d7f

Not using `ConfigureAwait(false)` in a library that might be used by an app that has a SynchronizationContext could result in a loss of performance and perhaps

[2021-10-18 21:30] #179 closed, assigned to nobody

[2021-10-18 21:32] #163 closed, assigned to nobody

[2021-10-18 21:33] curquiza commented on #181
Thank you @sander1095 for these resources. Indeed this is something we should consider!
Feel free to open PR if you want and have the time to :)

[2021-10-19 13:27] curquiza opened #182 "NDJSON/CSV methods to add and update documents"
⚠️ This issue is generated, it means the nameing might be done differently in this package (ex: `add_documents_json` instead of `addDocumentsJson`). Keep the already existing way of naming in this package to stay idiomatic with the language and this repository.

📣 We strongly recommend doing multiple PRs to solve all the points of this issue

[MeiliSearch v0.23.0](https://github.com/meilisearch/Me

[2021-10-19 14:07] #162 closed, assigned to nobody

[2021-10-19 15:54] #155 closed, assigned to nobody

[2021-10-20 08:29] curquiza opened #184 "Replace Docker examples with `curl` examples"
Discussion and motivations here: https://github.com/meilisearch/integration-guides/issues/145

---

Two examples to run MeiliSearch are present in our repository documentations:

- in the README.md, in the `Installation section`.
- in the CONTRIBUTING.md, in the `Development Workflow` section.

TODO: change both examples **in README.md and CONTRIBUTING.md** the same way as we have already done it

[2021-10-20 09:06] Ayush0431 commented on #184
hey @curquiza can I work in this issue.

[2021-10-20 09:07] curquiza commented on #184
Hello @Ayush0431

thanks for your interest in this project :)

FYI, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the volunteer contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelines](https://github.c

[2021-10-20 17:38] iverburgh commented on #182
Currently working on this issue

[2021-10-21 08:53] curquiza commented on #182
Hello @iverburgh

Thanks for your interest in this project :)

Just FYI, we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages the volunteer contributors to open a PR to fix this issue.
We will accept and merge the first PR that fixes correctly and well implements the issue following our [contributing guidelines](https://git

[2021-10-30 10:58] mrmaxonline opened #187 "MeilisearchApiErrorContent"
Wrong JsonPropertyName's

Error result from server 0.24 (example) is:

`{"message":"Index `asdfasdf` not found.","code":"index_not_found","type":"invalid_request","link":"https://docs.meilisearch.com/errors#index_not_found"}`

[2021-10-30 17:30] curquiza commented on #187
Hello @mrmaxonline

As the error describes, it means you try to access to your index `asdfasdf` but it does not exist.

[2021-10-31 05:40] mrmaxonline commented on #187
Hi @curquiza

The problem is not in the absence of an index, but in handling the exception, where properties are not substituted except for the message because they are incorrectly described with the class.

Look in MeilisearchApiErrorContent.cs:

It seems to me that the following code

`
        /// <summary>
        /// Gets or sets the errorCode.
        /// </summary>
        [JsonPropertyName

[2021-11-02 12:48] #184 closed, assigned to nobody

[2021-11-02 14:41] curquiza commented on #187
Are you using MeiliSearch `v0.24.0rc0`?

[2021-11-02 14:43] curquiza commented on #187
Oh yes, that what you meant with `Error result from server 0.24 (example) is:`

FYI, this package only works with the latest stable version of MeiliSearch which is `v0.23.1` currently, see: https://github.com/meilisearch/meilisearch-dotnet#-compatibility-with-meilisearch

We wait for the official and stable release of v0.24.0 before merging this branch (https://github.com/meilisearch/meilisearch-d

[2021-11-03 05:25] mrmaxonline commented on #187
Perhaps this library needs to add a check for the server version in order to correctly exchange different package structures

[2021-11-03 08:53] curquiza commented on #187
Since MeiliSearch is not stable this is something we don't want to do, but probably in the future when MeiliSearch will be stable

[2021-11-03 08:55] curquiza commented on #187
I close this issue since an answer has been given. Feel free to re-open if needed

[2021-11-03 08:55] #187 closed, assigned to nobody

[2021-11-19 09:01] juchom opened #196 "Suffix async methods with Async"
Today .NET ecosystem suffix all asynchronous methods with Async.

Since the client .net client is currently all async it would be good to suffix this methods with Async.

This would leave space to create a sync api if needed for some users.

Also, passing CancellationToken and propagating it to httpclient would be a good idea.

[2021-11-23 11:48] juchom commented on #176
@sander1095 is right, you don't need to take a dependency on AspNetCore for this.

You don't need all the stuff in it just for a few lines of code and the base framework offers the escape method `Uri.EscapeDataString`.

I've made a PR for this.

[2021-11-24 09:12] Nextra opened #198 "APIs are called at the root path"
**Description**
When providing the `HttpClient` with a `BaseAddress` that has a path such as https://example.com/api/meilisearch, MeiliSearch .NET will call most APIs at the root path regardless - for example https://example.com/health instead of https://example.com/api/meilisearch/health.

**Expected behavior**
MeiliSearch should respect the `BaseAddress` path instead of forcing calls directly ag

[2021-11-24 17:04] alallema commented on #198
HI @Nextra,
Thank you for taking the time to write about this issue. This repo is maintained by @curquiza, they are on holiday and will check it when they are coming back.

[2021-11-25 08:45] Nextra commented on #198
Understood @alallema.

Should anyone else stumble across this in the meanwhile, here is a quick and dirty fix by using a message handler that patches the request URI (if necessary) before letting MeiliSearch handle it as usual:

[code]

[2021-11-26 04:27] fatihyildizhan opened #199 "Index Sample is not compatible with .NET on README"
- Genre model is not a string array
- Some methods are not awaitable or vice verse

[2021-12-09 15:42] curquiza commented on #196
Hello @juchom!

thanks for this suggestion, this would be indeed a good addition! Plus, we are not stable yet, so that is the perfect time to do it!

PRs are welcome :)

[2021-12-09 15:42] curquiza commented on #176
Thanks @juchom for your involvement as well! :)

[2021-12-09 15:46] #176 closed, assigned to nobody

[2021-12-09 17:31] #199 closed, assigned to nobody

[2021-12-09 17:34] curquiza commented on #198
Hello @Nextra

Thanks for this issue!
This is indeed something we might need to handle in this SDK: not only the API root path should be accepted.

PR are welcomed, containing tests 🔥

[2021-12-10 08:21] Nextra commented on #198
For context: If this SDK is to be used on a client - where MeiliSearch is almost guaranteed to sit behind a reverse proxy - it is completely unusable out of the box.

[2021-12-10 16:17] juchom commented on #196
This can be done the hard way, just suffix every methods with `Async`
Then recreate sync methods after.

A more friendly way would be to use the `Obsolete` attribute on old methods and leave a message for developpers, but break during builds. Then in  a second time recreate the sync api.

First one is more time efficient, can be done in one release.
Second one is less time efficient, but more user

[2021-12-10 17:57] juchom opened #204 "Update logo with the latest .NET"
The current logo on the README.md file is the one from the old .Net Framework.

The new one can be found here : https://en.wikipedia.org/wiki/.NET_Framework

Ok, not the most important fix :)

[2021-12-15 16:56] curquiza commented on #204
Hello @juchom

Thanks for this issue. Every issue, even this tiny one, is a contribution for us, thanks 🙂

I will change it asap!

[2021-12-15 16:58] curquiza commented on #196
I think I would rather the first version. Since we are not stable, we can do it this way :)

[2021-12-15 17:15] #204 closed, assigned to nobody

[2022-01-05 09:37] curquiza commented on #196
Sorry I thought I answered your comment!!
I agree with the hard way

[2022-01-05 16:22] #196 closed, assigned to nobody

[2022-01-05 16:22] #181 closed, assigned to nobody

[2022-01-10 15:02] juchom commented on #182
Hello @curquiza

I'm having a look at this issue and the first item to fix it this one

Can you point me some code where GET or DELETE calls are sending `Content-Type` ?

I runned the tests with Fiddler and I have this for the calls I have checked :

GET
![image](https://user-images.githubusercontent.com/17902415/148787476-4422d60e-545b-4664-9359-c364c08c249f.png)

DELETE
![image](https://user-ima

[2022-01-10 15:48] curquiza commented on #182
Hello @juchom

sorry it's indeed not the case sorry! It has been fixed!

[2022-01-18 17:05] brunoocasali opened #216 "Adopt a new style guide"
Add a new and consistent styling to the project.

- [ ] Adopt new and the most spread style guidelines for C#
- [ ] The new style guide should be guarded with an automated tool that could be integrated with our CI
- [ ] We should have a way to explain to users these new guidelines without bikeshedding.

---
## initial issue (before the discussions)
Old issue title: **Make the types explicit instea

[2022-01-18 18:04] juchom commented on #216
This guidelines are taken from the runtime coding style

https://github.com/dotnet/runtime/blob/main/src/libraries/System.IO.Compression/src/System/IO/Compression/DeflateManaged/HuffmanTree.cs

If you look at how Microsoft is developing aspnet core, it looks like they go all the way with var

https://github.com/dotnet/aspnetcore/blob/main/src/Middleware/HttpLogging/src/HttpLoggingMiddleware.cs

Or

[2022-01-20 17:23] curquiza commented on #122
Closed in favor of this PR https://github.com/meilisearch/meilisearch-dotnet/pull/217. WIll be released in meilisearch-dotnet v0.9.0

[2022-01-20 17:23] #122 closed, assigned to nobody

[2022-01-20 17:27] curquiza opened #218 "Implement `client.UpdateKeyAsync()` method"
With the release of [MeiliSearch v0.25.0](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.25.2), and following this PR (https://github.com/meilisearch/meilisearch-dotnet/pull/217), I was not able to implement `client.UpdateKeyAsync()` method.

Looks like `Http.PatchAsync` is not available with the .NET version we are using.

I might have missed something 🙂

[2022-01-24 11:00] juchom commented on #218
Your client is targetting .NET Standard 2 which I think is a bit old.

Would you consider updating this client to .NET Standard 2.1 ? This would solve your issue as you can see here :
https://docs.microsoft.com/fr-fr/dotnet/api/system.net.http.httpclient.patchasync?view=net-6.0

Many libraries are dropping support for .Net Standard 2 at the moment. Meilisearch is a new product, I'm not sure you wo

[2022-01-24 12:49] brunoocasali commented on #218
Hello, @juchom thanks for your comment!

Do you have some official information about .net versions usage? Or just good references that the .net community use for us to check in the future?

btw: I found some like [builtwith](https://trends.builtwith.com/framework/ASP.NET) and [w3techs](https://w3techs.com/technologies/details/pl-aspnet).

[2022-01-24 13:28] juchom commented on #218
To help you decide, you first have to check the .NET Standard support here : https://docs.microsoft.com/fr-fr/dotnet/standard/net-standard

You can read the announcement here : https://devblogs.microsoft.com/dotnet/announcing-net-standard-2-1/

.NET Core support : https://docs.microsoft.com/en-gb/lifecycle/products/microsoft-net-and-net-core

Concerning .NET Framework support : https://dotnet.micr

[2022-01-24 16:29] curquiza commented on #218
Thanks a lot @juchom for your insight!

Definitely, I think.

Since @brunoocasali will become the new maintainer of this repo soon, I will let him decide how we will proceed with this 🙂

[2022-01-24 16:47] juchom commented on #218
Just replace

https://github.com/meilisearch/meilisearch-dotnet/blob/8d63ed44b0eabebcc9cd4fbc3a59dfc5831391f7/src/Meilisearch/Meilisearch.csproj#L4

with

[code]

[2022-01-24 18:09] curquiza opened #221 "Drop .NET 2.0 support, upgrade the minimum to .NET 2.1"
Following this discussion: https://github.com/meilisearch/meilisearch-dotnet/issues/218

After some problems during the implementation of the v0.25, we decided internally that we should drop support of .net 2. The main reason is not based only on the v0.25 implementation problems but basically because we are supporting a version that is not supported even by Microsoft anymore.

The proposal here i

[2022-01-24 18:10] curquiza commented on #218
This issue (adding `client.UpdateKeyAsync()` method) should be done after https://github.com/meilisearch/meilisearch-dotnet/issues/221 :)

[2022-01-25 08:27] juchom commented on #221
CI and tests are already running  against .NET Core 3.1 so nothing to change.

I didn't see anything in README or CONTRIBUTING regarding .NET Standard 2.

You could just change this in #202 and it should works fine. If you have any issue let me know.

https://github.com/meilisearch/meilisearch-dotnet/blob/8d63ed44b0eabebcc9cd4fbc3a59dfc5831391f7/src/Meilisearch/Meilisearch.csproj#L4

with

[code]

[2022-01-25 15:34] curquiza commented on #221
I think this is ready to implement now :)

[2022-01-25 16:47] brunoocasali commented on #216
Hello @juchom, thank you again for being so present in this repo, we really appreciate your support! ❤️

Reading the links you send me, make the guide even clearer, what I was trying to achieve is a good way to explain to contributors, "how the code should look like".

So if in the community (in this case the creator of the language) we have a style guide that is adopted by them I really think tha

[2022-01-25 17:05] juchom commented on #216
I, personally, would stick to asp.net core coding styles because it has been widely adopted.

The runtime repo is a bit different from all others from Microsoft, probably because they really want to have really explicit code in order to avoid some side effects the `var` keyword would hide after some refactoring for exemple.

The other reason, is nowadays coding assistants are giving a lot of help

[2022-01-25 18:38] brunoocasali opened #224 "Use DateTime when the property is related to dates instead of String"
Move from `String` to `DateTime` in the following structures:

- https://github.com/meilisearch/meilisearch-dotnet/blob/main/src/Meilisearch/Key.cs#L35-L45

Discussion related: https://github.com/meilisearch/meilisearch-dotnet/pull/219#discussion_r791036735

[2022-01-26 16:36] anthkernan-dev commented on #224
I'm happy to take this

[2022-01-26 17:46] brunoocasali commented on #224
@AK0785 thank you!

Go ahead and comment here if you need some help! :D

[2022-01-26 20:30] anthkernan-dev commented on #224
I've raised a PR - https://github.com/meilisearch/meilisearch-dotnet/pull/226

[2022-01-27 21:43] anthkernan-dev commented on #216
I would vote for var - it's what most developers are going to be used too and Microsoft themselves recommend this style when the type is obvious from the assignment - if you need to have certainty on the type then be explicit, otherwise don't.

[2022-01-27 22:46] #224 closed, assigned to nobody

[2022-01-28 19:30] #221 closed, assigned to nobody

[2022-01-29 19:05] anthkernan-dev commented on #71
@brunoocasali - Is this still a valid issue? If it is, I've looked at it today but the attributes that i'm specifying in the search query are always returned in full in the _formatted object.

[2022-01-30 16:21] juchom commented on #216
I saw that you are mixing `StyleCop` rulesets and `.editorconfig`.

I would strongly suggest to remove rulesets and move them to `.editorconfig`, you will have a central point for configuring everything.

[2022-01-31 15:45] juchom opened #231 "Issue with null values between AddDocumentsAsync & UpdateDocumentsAsync"
**Description**
With actual code, we have an issue with null values in two different parts of the code.

To understand this issue we will do a simple exemple with the following object.

[code]

Let's see how things are working now :

[code]

The first problem here is the method `RemoveNullValues`, this method is only called in `UpdateDocumentsAsync` and not in `AddDocumentsAsync`.
The second probl

[2022-01-31 18:47] brunoocasali commented on #231
Hello @juchom thanks for letting us know about this problem, I wasn’t aware of that :/

Just a question, do you think this behavior is affecting other methods than that these two you commented on? Your proposed solution could work for them (or impact somehow)?

@curquiza do you think this `null` behavior is intentional from the core side?

[2022-01-31 18:51] juchom commented on #231
I saw that when I was working on the support of ndjson and csv.

The PR was too big, I'll make some PR / issues to fix what I've found.

Sorry @brunoocasali, I didn't answer all of your questions :
Concerning the `RemoveNullValues` method, this one is used only in `UpdateDocumentsAsync`. This method has to be removed from the codebase.

Concerning the behavior of this change in the JsonSerializerO

[2022-01-31 19:43] brunoocasali commented on #71
Looking into this diff (the day which Clem created this issue and current main version) https://github.com/meilisearch/meilisearch-dotnet/compare/b243cf243336901a2218a69be827019cdb8c4ab8...main#

I could check that we added a lot of tests:

`CustomSearchWithSort`, `CustomSearchWithPhraseSearch`, `CustomSearchWithMultipleFilter`, `CustomSearchWithNumberFilter`, `CustomSearchWithFilterArray`, `Custo

[2022-01-31 19:45] brunoocasali commented on #71
If you want to, you could try to cover some of these cases, we appreciate the help 😸

Let me know if you need anything @AK0785 !

[2022-02-04 02:05] anthkernan-dev commented on #71
@brunoocasali  - I can't seem to return a matches object even though I've set the matches parameter to true and it is being passed into the SearchQuery with a string that is contained in either the Title or Genre?

[2022-02-07 23:51] brunoocasali commented on #231
Yes let's remove: `RemoveNullValues` from the `UpdateDocumentsAsync` to make it even with the `AddDocumentsAsync` 🥇

Now about the `JsonSerializerOptions`, I checked the implementations and some of them require the current behavior (we should not send the attribute when the attribute is `null`) [this guide](https://docs.meilisearch.com/reference/api/settings.html#update-settings) mentions that we

[2022-02-08 08:27] juchom commented on #231
I'm on your side with this, let start with this and we will do the fixing if needed. I'll let you finish the work on the analytics and the chunk issue and I'll open a PR. This will avoid potential merge conflicts.

[2022-02-08 20:53] sander1095 commented on #218
Just my 2 cents.. I think using `netstandard2.0` is fine.

Perhaps doing some usage research here would be a good idea. Ask users of meilisearch what .NET versions they use so you have a good idea.

Moving to .netstandard2.1 will gain you some newer c# features, but not many. I believe only c# 8 features, which has some cool stuff (nullable reference types)... but..

for new libraries, .netstandar

[2022-02-08 20:55] sander1095 commented on #216
I vote for var. I would say that var should be the default, and if a type is unclear, we use the explicit type :). `var` is definitely the default in the industry

[2022-02-08 21:28] #231 closed, assigned to nobody

[2022-02-09 08:36] juchom commented on #218
I think @sander1095's point of view is interesting and he is probably right with sticking to .NET Standard 2.0.

Going the .NET Standard 2.1 has the quality of dropping .NET Framework, brings ValueTask and missing bits of HttpClient.

Dropping .NET Framework right now is not a good idea, because you may miss some opportunities for Meilisearch on legacy apps.

Then benefits of switching from Task t

[2022-02-09 09:12] juchom commented on #216
I can open a PR with the asp.net core coding style and leave it for review.

This PR will have to be merged fast because every file will be modified. If you're ok with that, just let me know when you have time for the review.

[2022-02-09 14:26] juchom commented on #216
Ok, I just made a test to see how it will go and I think, it will be better to do some iterations.

For the first step, I would completely remove `StyleCop` from the projects because it doesn't play well with `.editorconfig`. This will help us define the rules we want and we may reintroduce it later if `.editorconfig` is not enough.

I would enable `C#10` in order to have file scoped namespace, th

[2022-02-09 15:02] brunoocasali commented on #216
Can you open a PR modifying some files? (not every file). This way we could iterate in the comments to make sure we are in the same page regarding this theme, then you could open the PR for every other file following our new convention.

What do you think @juchom ?

[2022-02-09 16:49] juchom commented on #216
A draft is open and I'll update it according to the reviews.

I will go rule per rule to make it easy to follow.

[2022-02-11 07:21] sander1095 commented on #216
Hello :)

I suggest running `dotnet new editorconfig` in the root of the project and overwriting/updating the exisiting one.

The generated file will contain all the default styling rules from microsoft. Running `dotnet format` and dotnet format --severity info` will then format the cofe according to those rules.

This prevents discussions like this with manual code changes, now you can just execu

[2022-02-11 14:49] brunoocasali commented on #216
Hello everyone, thanks for your suggestions here, this will make this package even better!

This issue started with one idea and your comments regarding this topic changed my mind. I don't develop in C# for a long time, and the community evolved!

I will not remove the initial suggestions, I will put a DISCLAIMER into the main description of this issue mentioning the final decision.

Like I mentio

[2022-02-11 15:51] juchom commented on #216
I added a few lines and two repos that almost look like what Microsoft is doing in `asp.net core`. It's pretty difficult to have a perfect match since every developers in the end have their own styles and use different versions of `C#`.

This is a base where `StyleCop` and `.editorconfig` are not fighting, the style looks like what you will find in OSS projects.

Now, if you miss something or want

[2022-02-11 18:23] #216 closed, assigned to nobody

[2022-02-11 20:20] brunoocasali commented on #218
Since we rolled back to .NET Standard 2.0 how can we overcome this issue? Is something possible to do?

[2022-02-12 09:31] juchom commented on #218
Yes, we will fix this 👍

[2022-02-12 13:01] sander1095 commented on #218
Could something like this be used?

https://stackoverflow.com/questions/53982148/how-to-patch-data-using-system-net-http#53995041

[2022-02-15 14:36] brunoocasali opened #243 "Refactor the usage of request headers internally"
There were a lot of valuable comments in all these places: https://github.com/meilisearch/meilisearch-dotnet/pull/237 https://github.com/meilisearch/meilisearch-dotnet/issues/198.

To context, we shouldn't need to be defining headers directly into the `DefaultRequestHeaders` because we could potentially be messing with other configurations provided by the `HttpClient` instance sent by the develope

[2022-02-16 15:36] #198 closed, assigned to nobody

[2022-02-16 17:13] juchom commented on #218
I have created a quick PR if it has a chance to be shipped in the next release.

But, it will be a good idea to have an extension method for PATCH.

[2022-02-24 20:56] brunoocasali commented on #71
Sorry @AK0785 I spoke to @curquiza but we weren't able to understand what you meant in your last message, can you give more details or even an example about what you mean?

[2022-03-21 15:38] brunoocasali opened #252 "Update .code-samples.meilisearch.yaml"
⚠️ This issue is generated. It means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already wholly/partially implemented. Feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisearch/i

[2022-04-07 20:43] #252 closed, assigned to nobody

[2022-05-25 12:24] alallema opened #271 "Use dataset files instead of handwritten data for testing"
**Description**
In this PR #269 we have added the `Datasets` directory to have the possibility to store the test data sets. Following the discussion on this PR, it could be more convenient and readable to use test files instead of hard-coded data in the [tests/Meilisearch.Tests/IndexFixture.cs](https://github.com/meilisearch/meilisearch-dotnet/blob/5aa7ec9992c19f329c29ee3b85dd3c143765d0b8/tests/Me

[2022-05-31 15:10] #182 closed, assigned to nobody

[2022-05-31 15:11] alallema commented on #182
Well Done @juchom 🎉

[2022-07-04 14:55] alallema opened #283 "Fix the command to launch test on `CONTTRIBUTING.md`"
The current command to run tests in the `Dotnet` SDK does not work with a `Meilisearch` running locally or with docker.
For this to work, the `Meilisearch` instance must be started with the specific docker-compose file in the directory such as:
[code]

[2022-07-11 18:50] MegaThorx opened #285 "Index.UpdateSettingsAsync uses incorrect method (POST instead of PATCH)"
**Description**
Index.UpdateSettingsAsync uses incorrect method (POST instead of PATCH).

https://docs.meilisearch.com/reference/api/settings.html#update-settings

**Expected behavior**
Due the incorrect method the meilisearch server responds with status 405

**Current behavior**
Settings should be saved

**Screenshots or Logs**

Code:
[code]

Meilisearch log:
[code]

**Environment (please complet

[2022-07-12 07:43] alallema commented on #285
Hi @MegaThorx,
Indeed the v0.28.0 of Meilisearch is released yesterday but the SDK is not yet updated with this. The v0.10.2 of this SDK is only compatible with the v0.27, I let you check the [changelog](https://github.com/meilisearch/meilisearch-dotnet/releases) about it.
I will try to update it as soon as possible. Sorry for the inconvenience.

[2022-07-12 13:50] MegaThorx commented on #285
Yeah I realized it shortly after opening the issue. I downloaded the older version of Meilisearch and it works fine ;)

[2022-07-16 18:12] brunoocasali opened #294 "Add support to the pagination setting customization at the index level"
⚠️ This issue is generated, which means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/205
- engine issue: https://github.com/meilisearch/specifications/pull/157, https://

[2022-07-16 18:17] brunoocasali opened #295 "Add support to the facet setting customization at the index level"
⚠️ This issue is generated, which means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/205
- engine issue: https://github.com/meilisearch/specifications/pull/157, https://

[2022-07-28 11:46] alallema opened #301 "Avoid repetition of conditions by interpolating queries"
**Description**
Following this [discussion](https://github.com/meilisearch/meilisearch-dotnet/pull/300#discussion_r930297756)

Currently, in all the methods that allow sending a query parameter as argument like:
- TasksQuery
- DocumentsQuery
- IndexesQuery
- KeysQuery
We check that the parameter query exists:
[code]

**Possible solutions**
It would be great to just add the query to the URI without

[2022-07-28 19:42] brunoocasali opened #303 "Use strong types to map lists instead of pure strings"
The idea here is to implement `enum`'s to map lists eg:

- src/Meilisearch/Key.cs: `public IEnumerable<string> Actions { get; set; }`
- src/Meilisearch/QueryParamaters/TasksQuery.cs: `public List<string> Types { get; set; }` and `public List<string> Status { get; set; }`
- and others...

We may want to refactor this `src/Meilisearch/TaskInfo.cs`: `TaskInfoType`, `TaskInfoStatus` to a `static class

[2022-07-28 21:22] brunoocasali opened #306 "Add IndexesQuery to GetAllRawIndexesAsync method"
The `GetAllRawIndexesAsync` function should support the same query params (`IndexesQuery`) as `GetAllIndexesAsync`

[2022-07-29 13:42] radouane7 commented on #306
what do you want to do with the IndexQuery after that ?

[2022-07-29 14:25] brunoocasali commented on #306
The new Meilisearch version v0.28 added support to pagination in the indexes routes.

If you look close to the `GetAllIndexesAsync` you'll see that we support the pagination configuration. And the idea is to do the same in the `GetAllRawIndexesAsync` method as well.

https://github.com/meilisearch/meilisearch-dotnet/blob/cc6edddd447242493d85841e80a0bb401ab9da86/src/Meilisearch/MeilisearchClient.cs

[2022-08-01 06:47] #218 closed, assigned to nobody

[2022-08-25 17:27] juchom opened #311 "Offer a way to override the way documents are serialized in json"
**Description**
Currently when we send a document we use the internal `JsonSerializerOptions` `JsonSerializerOptionsWriteNulls` with this definition

[code]
I actually don't like the default behaviour of this settings, it converts `enum` as `int`, I prefer to convert them as `string`.

Some people may not like the CamelCase and want some other settings.

**Basic example**

We should add an api cal

[2022-08-25 18:56] alallema commented on #311
Hi @juchom,
Thank you for your suggestions always very accurate. I find this idea very interesting and it would be great to implement. Obviously, I am not an expert on Dotnet so I trust you completely 😊 on this 🚀

[2022-08-31 18:10] juchom commented on #311
Actually, this is an interesting issue, in case other clients needs to do the same here are some side effects.

For exemple, let say we want to serialize our documents with `PascalCase` instead of `camelCase` and have our enum serialized as `string`.

We will use the following objects :

[code]

Adding two movies will send this payload to Meilisearch :

[code]

[code]

This is perfect, we have `Pa

[2022-09-01 15:14] juchom opened #315 "Using _Formatted value when searching is not user friendly"
While I was working on the code I saw something that is not user friendly for C# and Java developers.

If you look at the documentation for Highlighting : https://docs.meilisearch.com/reference/api/search.html#attributes-to-highlight

Here is the json response of the server :

[code]

The server returns the document and add an extra field `_formatted` with a modified copy of the document.

Let see

[2022-09-02 08:13] juchom commented on #315
I just checked the rust client for this issue, I'm no expert but according to the doc :

https://github.com/meilisearch/meilisearch-rust/blob/261fa529e795a831035c7fb30f27313ea9496af7/src/search.rs#L12-L25

This works thanks to serde, who has the ability to flatten structs.

The unit tests in Java are passing because the `Movie` has a `_formatted` property, which is not supposed to be defined in th

[2022-09-02 09:17] gmourier commented on #315
Thank you, @Juchom, for your research and this very well-detailed issue.

Indeed, we want 0 breaking changes to not involve any significant and tedious changes until 1.0, especially on the search endpoint.

Nevertheless, this is something we may consider after having reached a v1.0. We know that we will have to make some breaking changes afterward, but it's unclear how we will organize all this to

[2022-09-02 13:15] brunoocasali commented on #315
@juchom, thanks for the issue. Indeed very well explained, and I could feel the pain here 😞

Do you think it could be possible to work around this problem internally in the `meilisearch-dotnet` by adding a post json processing before the actual object creation?

[code]

[2022-09-02 16:37] juchom commented on #315
Good question ? Very good question...

Digging further, I found this issue opened in `System.Text.Json` in order to have a `JsonPropertyFlatten` attribute like in `serde` : https://github.com/dotnet/runtime/issues/55120

Not sure this is going to happen soon and there is nothing that could help with it on Github.

We only have bad solutions right now,

The worst one, trying to create our own `Json

[2022-09-09 10:31] juchom commented on #303
Hi @brunoocasali,

Could you precise what you want to do here, it's not clear :

You want enum at the begining

Then you want a class with const fields.

[code]

`TaskInfoType` and `TaskInfoStatus` are already `enums` mapping from Meilisearch response as string.

What would you change for this two types ?

[2022-09-09 13:09] brunoocasali commented on #303
Oh, sorry, let's make it clearer then:

In the `Keys.cs` we have the `Actions` field, which receives a list of Strings. That means I can add anything I want if they are a list of string like `new string[] { "a", "b", "c" }`, when I submit that to the server, I will receive an error and that is the thing I want to prevent.

Is there a way to accept a given set of values that the compiler will prote

[2022-09-09 13:14] juchom commented on #303
Ok, I see what you want !

This issue was something I started to solve with `TaskInfoStatus` and `TaskInfoType` to avoid magic strings.

I also don't like magic strings :)

[2022-09-12 13:35] #303 closed, assigned to nobody

[2022-09-19 15:15] alallema commented on #285
This issue was fixed in the v0.11.0

[2022-09-19 15:15] #285 closed, assigned to nobody

[2022-10-05 08:23] FelixLorenz commented on #315
Thanks @juchom ! Came across this caveat and could immediately workaround it with your approach.

[2022-10-05 18:37] sander1095 commented on #306
I'd like to do this one!

[2022-10-06 10:12] #19 closed, assigned to nobody

[2022-10-06 13:51] alallema commented on #306
Hi @sander1095,
Thanks for the proposition it would be great! Don't hesitate to check how it's implemented in this method `GetAllIndexesAsync` to help you with it and don't hesitate if you had any questions 😊

[2022-10-06 15:27] sander1095 opened #331 "Migrate test project to .NET 6"
**Description**
Currently the test project uses `.NET Core 3.1`. [This is EOL in December](https://dotnet.microsoft.com/en-us/platform/support/policy/dotnet-core). Because of this, I think it'd be a good idea to migrate the test project to .NET 6.0, which is LTS until 2024.

It'd be good to assume that the people that use this package either use .NET Framework (which is very old..) or the supporte

[2022-10-06 16:00] sander1095 opened #333 "Clean up duplicate test assertions in IndexTests.cs"
**Description**
I took a look at `IndexTests.cs` which contains a some duplicate assertions:

https://github.com/meilisearch/meilisearch-dotnet/blob/main/tests/Meilisearch.Tests/IndexTests.cs#L168

The `indexes.Limit.Should().BeGreaterOrEqualTo(1);` assertion does the same as `Assert.Equal(1, indexes.Limit)` which can be found on the line below the former bit of code.

**Basic example**
I am a fan

[2022-10-06 16:34] #306 closed, assigned to nobody

[2022-10-06 16:38] #333 closed, assigned to nobody

[2022-10-10 08:18] alallema commented on #331
Hi @sander1095,
Thanks for creating this issue, you are absolutely right EOL is coming soon but in general, we prefer to keep the old version as long as they are supported so please don't create a PR before the end of December 2022.
Thank you

[2022-10-10 08:42] #271 closed, assigned to nobody

[2022-10-10 10:01] #294 closed, assigned to nobody

[2022-10-10 10:09] #295 closed, assigned to nobody

[2022-10-11 10:48] brunoocasali opened #340 "Replace MEILISEARCH_HOST by MEILISEARCH_URL in the docker config"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2022-10-14 11:44] #340 closed, assigned to nobody

[2022-10-18 09:48] #283 closed, assigned to nobody

[2022-10-18 16:17] juchom opened #344 "Should `WaitForTasksAsync` throws by default ?"
I'm doing some review on the code and came to this method

https://github.com/meilisearch/meilisearch-dotnet/blob/b285f324aa94d725cefc70bd8673f42ecef277e3/src/Meilisearch/TaskEndpoint.cs#L70-L91

Don't you think that this method should return some sort of Result object like this instead of throwing :

[code]

The main idea is, that a task could take more time to finish on the server, but this is n

[2022-10-18 20:47] brunoocasali opened #346 "Add new code-samples requested by the Meilisearch v0.29 release"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Sorry if this is already wholly/partially implemented. Feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisearch/integr

[2022-10-19 12:52] alallema commented on #344
Hi @juchom,
Thank you very much for opening this issue, it is very interesting. Indeed, it is not a server error but there is no specific reason for it to take time and most importantly this method was created exclusively for testing and is not intended to be used outside. However, I think this question could be of interest to the rest of the @meilisearch/integration-team

[2022-10-19 13:07] brunoocasali commented on #344
Agreed @alallema. In most of our SDKs, we have a similar piece of code, but we use it only to test, and we try not to advertise it too much because I think this could be very dangerous if the developer is not cautious.

[2022-10-19 16:01] juchom commented on #344
Actually, developers may want to wait for a task (Meilisearch side) to finish and know the result.

If Meilisearch is on error for some reason, we have to know something wrong happened.

This polling method is interesting for developers, this avoid them to develop their owns.

I agree with you, this one is dangerous and mainly because it throws if something went wrong. Having it always returning a

[2022-10-20 12:25] alallema commented on #344
Hi @juchom,
I really like the idea of adding `bool throwOnError = false` but I'm afraid that it will encourage contributors to use this function. Again, `Meilisearch` is asynchronous and this function will force it to be synchronous by making sure the operation is completed, which could be dangerous in production. So we don't recommend it at all, except for testing purposes.
But we could totally t

[2022-10-20 15:27] juchom commented on #344
I understand why you want to encourage a fire and forget strategy for async server side operations.

In this case, should this method stay in the client project ? If no, it can be moved to the unit tests project, if you want to prevent its usage.

[2022-11-24 11:53] andtii opened #363 "Creating tenant tokens fails in .net 7 because of key size to small"
**Description**
Creating tenant tokens fails in .net 7

**Expected behavior**
Creating tenant tokens to work

**Current behavior**
Exceptions when creating tenant tokens.

**Screenshots or Logs**
![image](https://user-images.githubusercontent.com/1434571/203777776-885f6568-f3a6-4454-a9bb-5bd4eb3a36b2.png)

**Environment (please complete the following information):**
- OS: Windows
- Meilisearch ver

[2022-11-24 11:57] andtii commented on #363
Does not help with a longer key, seems internally using 80 always

![image](https://user-images.githubusercontent.com/1434571/203778925-a78e479c-14a0-4eeb-bdb7-d8cc0429545e.png)

[2022-11-24 11:59] andtii commented on #363
It worked when passing it as a third argument

![image](https://user-images.githubusercontent.com/1434571/203779271-ff1d278a-942c-49c9-85f2-aa3f43dfe4b6.png)

[2022-11-29 10:15] alallema commented on #363
Hi @andtii,
Thanks for raising this issue, sorry for the delay, I was on sick leave I will check this as soon as possible 😉

[2022-11-30 18:50] juchom commented on #363
Hello,

This is not an issue with .Net 7 or the client itself, the exception is giving you all the information :

When you don't set the third parameter, it will use by default the master key for signing the token. From you're exception I can see your master key is 10 characters long. To sign a token with hmac-sha256 you need a master key that is at least 16 characters long.

@alallema it would be